* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #c0dbc7;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(236, 214, 182);
    z-index: 1000;
    padding: 8px;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.home-button {
    color: #665A48;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 15px 20px;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

nav ul li {
    padding: 0 10px;
}

nav ul li a {
    color: #665A48;
    text-decoration: none;
    padding: 15px;
    display: block;
    font-weight: bold;
    font-size: 18px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0 40px 0;
}

h1 {
    color: #333;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    color: #444;
    margin-bottom: 15px;
}

.profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url('https://i.ibb.co/Jcm5jS1/453723805-7996758347110304-614099704994531688-n.jpg');
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}


.flex-box, .grid-box {
    width: 100%;
    gap: 20px;
}

.flex-box {
    display: flex;
    flex-direction: column;
}

.grid-box {
    display: grid;
    grid-template-columns: 1fr;
}

.info-box {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.info-box p {
    line-height: 1.8;
}

.contact-icons {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.icon {
    width: 60px;
    height: 60px;
    background-color: #ddd;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon.facebook {
    background-image: url('https://i.pinimg.com/originals/84/68/5b/84685ba9637a951591040426a46da70f.jpg');
    background-size: cover;
    background-position: center;
}

.icon.ig {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRy8ecQ8MtNrNICUox6fMLke5i7tatCXUvJ8g&s');
    background-size: cover;
    background-position: center;
}

.icon img {
    width: 30px;
    height: 30px;
}

@media (min-width: 768px) {
    .flex-box {
        flex-direction: row;
    }

    .grid-box {
        grid-template-columns: repeat(2, 1fr);
    }

    .info-box {
        flex: 1;
    }
}

@media (min-width: 1024px) {
    .grid-box {
        grid-template-columns: repeat(2, 1fr);
    }
}